
.tutorial{
    width: 600px;
    text-align: center;
    margin: auto;
}

figure.imagen{
    display: flex;
    justify-content: center;
    background-color: black;
}

figure .imagen img {
    width: 128px;
}

.notification {
    margin-top: 20px !important;
}

title .com{
    margin-bottom: 15px;
}

.hero {
    margin-bottom: 20px;
}

.forms {
    display: flex;
    justify-content: space-around;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
}

.dropdown-item img {
    height: 50px;
    margin-right: 10px;
}


